<section id="about">
    <div class="about-content">
        <div class="about-image">
            <img src="assets/images/MyPhoto.jpeg" width="400" height="200">


        </div>
        <div class="about-details">
            <h2>About Me</h2>
            <p>I'm a backend developer with a passion for coding and problem-solving.</p>
            <p>I'm currently on a journey to become a fullstack developer and expand my skills.</p>
            <!-- Social media and contact links with Bootstrap icons or buttons -->
            <div class="about-links">
                <a href="https://www.linkedin.com/in/kulamani-pradhan/" target="_blank" class="social-link">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/kulamanipradhan" target="_blank" class="social-link">
                    <i class="bi bi-github"></i> GitHub
                </a>
                <a href="mailto:km99pradhan@gmail.com.com" class="social-link">
                    <i class="bi bi-envelope"></i> Email
                </a>
                <a href="https://docs.google.com/document/d/1moTmiG7giNVGhsdNrVyCLaayRr_2UkXv/edit?usp=sharing&ouid=114294567530904233694&rtpof=true&sd=true">
                    <i class="bi bi-file-earmark-pdf"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>